<div class="jumbotron text-center" img="../assets/classroom.jpg">	
  <h1 style="color:#FFFFFF">Hello, Students!</h1>
  <p style="color:#FFFFFF">Welcome to the class website. This site is intended to provide you with the essential information, documents, and other media resources.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/spanish/#/teacherinfo">Meet the teacher!</a></p>
</div>



<div class="container">

<div class="page-header">
  <h1>Class Selection</h1>
</div>
	
	<div class="row">
		  <div class="col-md-4">
		    <div class="thumbnail">
		      
		      <div class="caption">
		        <h3><span style="color:#428BCA">Spanish 1</span></h3>
		        <p>Alright no0bs, get ready to learn some espanol. You can learn this if you really want to. If you lack the desire, you will fail.</p>
		        <p><a href="/spanish/#/docs" class="btn btn-primary" role="button">Read More...</a>
		      </div>
		    </div>
		  </div>

		  <div class="col-md-4">
		    <div class="thumbnail">
		      
		      <div class="caption">
		        <h3><span style="color:#428BCA">Spanish 2</span></h3>
		        <p>Ok so you are starting to understand things a little better. Lets see if you can handle the learning curve of the dreaded Spanish 2!!!</p>
		        <p><a href="#" class="btn btn-primary" role="button">Read More...</a></p>
		      </div>
		    </div>
		  </div>

		  <div class="col-md-4">
		    <div class="thumbnail">
		      
		      <div class="caption">
		        <h3><span style="color:#428BCA">AP Spanish</span></h3>
		        <p>Good work, you can actually do something with your Spanish skills. Lets dig deeper and become half-hispanic.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Read More...</a></p>
		      </div>
		    </div>
		  </div>
	</div>

</div>