

<div class="page-header">
  <h1>Spanish 1</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li ng-click="navigateTo('/newsTEMPLATE')">News and Announcements</li>
  <li class="active"><a href="#">Documents</a></li>
  <li><a href="mediaTEMPLATE.html">Media</a></li>
  <li><a href="calendarTEMPLATE.html">Calendar</a></li>
</ul>

<div class="container">

	<div class="page-header">
	  <h1>Important Documents</h1>
	</div>

	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p>
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p>
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
	<p>Grammar Exercise -<button type="button" class="btn btn-link">Download</button></p> 
