
<div class="page-header">
  <h1>Spanish 1</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li><a href="newsTEMPLATE.html">News and Announcements</a></li>
  <li><a href="docsTEMPLATE.html">Documents</a></li>
  <li class="active"><a href="#">Media</a></li>
  <li><a href="calendarTEMPLATE.html">Calendar</a></li>
</ul>

<div class="container">

	<div class="page-header">
	  <h1>Helpful Media</h1>
	</div>

	<h3>Sweet Video</h3>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=Tyw2LjBMLvY"></iframe>
	</div>

	<h3>Sweet Video</h3>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=Tyw2LjBMLvY"></iframe>
	</div>

	<h3>Sweet Video</h3>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=Tyw2LjBMLvY"></iframe>
	</div>

	<h3>Sweet Video</h3>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=Tyw2LjBMLvY"></iframe>
	</div>
