<div class="page-header">
  <h1>Spanish 1</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">News and Announcements</a></li>
  <li><a href="docsTEMPLATE.html">Documents</a></li>
  <li><a href="mediaTEMPLATE.html">Media</a></li>
  <li><a href="calendarTEMPLATE.html">Calendar</a></li>
</ul>


<div class="container">

	<div class="page-header">
	  <h1>News and Announcements</h1>
	</div>

	<h3>This cool this is happening</h3>

	<p>Lorem ipsium Lorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsium</p>

	<h3>This cool this is happening</h3>

	<p>Lorem ipsium Lorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsium</p>

	<h3>This cool this is happening</h3>

	<p>Lorem ipsium Lorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsiumLorem ipsium</p>

</div>
